* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255, 255, 255);
    height: 2000%;
}

#main-header {
    display: flex;
    margin: 0 0 5% 0;
}

.navbar {
    background: #ffffff;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    padding: 1%;
}

#main-header a {
    text-decoration: none;
    color: black;
}

#main-header a:hover {
    opacity: 0.7;
}

#page-title {
    font-size: 200%;
    border-style: solid;
    display: inline;
    margin: 0.5% 10%;
}

.nav-item {
    font-size: 150%;
    text-align: center;
}

#main-footer {
    background: #000000;
    color: #ffffff;
}

.center {
    text-align: center;
}

@media screen and (max-width: 800px) {
    #main-header {
        flex-wrap: wrap;
    }
    #page-title {
        margin: 2% auto;
    }
    .navbar {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .nav-item {
        font-size: 150%;
    }
}